.card {
    display: flex;
    flex-direction: column;
    max-width: 362px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;

    &:last-child {
        margin-right: 0px;
    }

    &:first-child {
        margin-left: -19px;
    }

    &:hover {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    &__content {
        padding: 29px 30px 37px 36px;
       background-color: #D91570;
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;
       width: 362px;
       &:hover {
        background-color: #2286AC;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.203425);
        padding: 29px 30px 37px 38px;
        }
    }

    &__image {
        height: 189px;
        width: 362px;
    }

    &__title {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        font-size: 22px;
        line-height: 30px;
        margin-left: 3px;
    }

    &__inner {
        display: flex;
        margin-top: 10px;
        align-items: center;
        max-width: 289px;
    }

    &__author {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-top: 8px;
        margin-left: 3px;
    }

    &__author-name {
        color: #fff;
        margin-right: 122px;
        margin-left: 19px;
        margin-bottom: 0;
        font-size: 14px;
        white-space: nowrap;
        margin-top: 4px;
        font-family: "Poppins", sans-serif;
    }

    &__button {
        display: flex;
        max-width: 50px;
        max-height: 50px;
        border: none;
        border-radius: 50%;
        padding: 17px 17px 17px 19px;
        width: 100%;
        height: 100%;

    }
}