.journey {
    background-color: #F7FBFC;

    &__container {
        padding-top: 80px;
        padding-left: 94px;
        padding-right: 98px;
    }

    &__title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 83px;
    }

    &__title {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 45px;
        line-height: 64px;
        color: #181726;
    }

    &__button {
        font-size: 20px;
        padding: 17px 34px 17px 34px;
        margin-top: 4px;
        img {
            margin-right: 8px;
            margin-left: 2px;
            width: 22px;
        }
    }

    &__galery {
        margin-bottom: 10px;
    }

    &__image {
        margin-bottom: 18px;
    }

    &__image:not(:nth-child(5n+5)) {
        margin-right: 16px;
    }

    &__slide {
        display: flex;
        justify-content: space-between;
        color: #404554;
        padding-bottom: 100px;
    }

    &__show {
        display: flex;
        align-items: center;
    }

    &__slide-select {
        margin-left: 8px;
        border: 1px solid rgba(164, 171, 193, 0.702278);
        border-radius: 3px;
        background: #fff url(../img/select-arrow.svg) no-repeat 75%;
        padding: 7px 34px 3px 15px;
        -webkit-appearance: none;
    }

    &__pages {
        display: flex;
        align-items: center;
    }

    &__pages-text {
        margin-right: 19px;
        font-size: 14px;
        line-height: 21px;
    }

    &__pages-arrow {
        background-color: #78BDD7;
        opacity: 0.15;
        border-radius: 3px;
        z-index: 1;
        &--left {
            padding: 12px 15px 11px 13px;
            margin-right: 5px;
        }
        &--right {
            padding: 12px 13px 11px 15px;
        }
        img {
            z-index: 3;
        }
    }
}